.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-border-color:transparent;
    
}

.titled-pane > .title {
	    -fx-border-color:transparent;
		-fx-background-color:lightblue ; 
		-fx-fill:white;
	
}
	
.label
{
	-fx-text-fill:white ;
	
}	
	
.texts
{
	-fx-fill:yellow;
	
	
}
.text-area
{
	-fx-text-fill:yellow ;
	
}
.text-area .content 
{
	-fx-background-color:black ; 
	
}
.resultGandS
{
	-fx-background-color:transparent ; 
	-fx-text-fill:black ;
	
	
}
.combo-box .list-cell  

{
	-fx-text-fill:yellow ;
	-fx-background-color:black ; 
}
	
.label, .combo-box, .text
{
	-fx-font-size: 9pt;
	-fx-font-family:"Arial";
	
}

.spinner .content {
    -fx-body-color: black;
    -fx-text-fill:white;
}


.mainContent
{
	-fx-border-color:transparent;
}